@import "colors";
@import "spinner";
@import url("https://fonts.googleapis.com/css?family=Monofett");
@import url("https://fonts.googleapis.com/css?family=Audiowide");

body {
    overflow-y: scroll;
}

/* Color Classes */
.blue {
    color: @blue2;
}
.grey {
    color: @grey1;
}

.header {
    background: url("/images/pinkx.png") center center no-repeat;
    height: 200px;
    line-height: 200px;
    background-size: 200px;
    font-family: 'Monofett', cursive;
    text-transform: uppercase;
    letter-spacing: -5px;
    &:hover {
        background-size: 220px;
    }
}

.color-select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    align-content: center;
}

.color-square {
    flex: 0 0 30px;
    border-radius: 100px;
    outline: none;
    margin: 5px;
    font-weight: 100;
    padding: 0 15px;
    opacity: 0.3;
}

.color-selected {
    font-weight: 700;
    opacity: 1;
}

.clue {
    text-align: center;
    padding: 20px;
    word-wrap: break-word;
}

.solved {
    border: 4px solid #5df422;
    border-radius: 150px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    color: #224231;
    background-color: rgba(229, 255, 206, 0.4);
}

#word-input {
    z-index: -9999;
    border: none;
    outline: none;
    color: transparent;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

/* Crossword */
.game-container {
}

.user-list-scores {
    position: absolute;
    padding: 0 10px;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    top: 0px;
    right: 0px;
    transition: background-color 1s, color 2s, opacity 2s;
}

#crossword-table {
    display: table;
    margin: 0 auto;
}

#crossword-table .row {
    display: flex;
}

#crossword-table .cell {
    transition: background-color 1s, color 2s, opacity 2s;
    text-transform: uppercase;
    text-align: center;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
}

#crossword-table .cell--empty {
    background-color: #000;
    pointer-events: none;
    cursor: default;
}

#crossword-table span.clue-number {
    position: absolute;
    font-size: 0.6em;
    line-height: 1em;
    color: rgba(0,0,0,0.7);
    top: 2px;
    left: 2px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    #crossword-table span.clue-number {
        font-size: 0.5em;
    }
}

#crossword-table .active {
    font-weight: bold;
    color: #000000 !important;
    background-color: rgba(8, 255, 172, 0.3) !important;
}

#crossword-table .selected {
    font-weight: bold;
    color: #000000 !important;
    color: #000000 !important;
    background-color: rgba(8, 220, 172, 0.8) !important;
}
#crossword-table .correct {
    transition: background-color 1s, color 2s, opacity 2s;
    font-style: italic;
    font-weight: 700;
    border: none;
    span.clue-number {
        display: none;
    }
}

/* General button style (reset) */
.btn {
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #14C8CC;
    color: #fff;
    box-shadow: 0 6px #3D9799;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;

    &:hover {
        box-shadow: 0 8px #3D9799;
        top: -2px;
    }

    &:active {
        box-shadow: 0 0 #3D9799;
        top: 6px;
    }
}

.btn--green {
    background: #10CC54;
    box-shadow: 0 6px #3D995B;
    color: #fff;
    &:hover {
        box-shadow: 0 8px #3D995B;
        top: -2px;
    }

    &:active {
        box-shadow: 0 0 #3D995B;
        top: 6px;
    }
}

.btn[disabled] {
    pointer-events: none;
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.5);
    box-shadow: 0 6px rgba(0,0,0,0.6);
}
