@import "colors";

body {
    overflow-y: scroll;
}

/* Crossword */
#crossword-table .row {
    display: flex;
    justify-content: center;
}

#crossword-table .cell {
    transition: background-color 1s, color 2s, opacity 2s;
    text-transform: uppercase;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
}

#crossword-table .cell--empty {
    background-color: #000;
    pointer-events: none;
    cursor: default;
}

#crossword-table span.clue-number {
    position: absolute;
    font-size: 0.6em;
    line-height: 1em;
    color: rgba(0,0,0,0.7);
    top: 2px;
    left: 2px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    #crossword-table span.clue-number {
        font-size: 0.5em;
    }
}

#crossword-table .active {
    font-weight: bold;
    color: #000000 !important;
    background-color: rgba(8, 255, 172, 0.3) !important;
}

#crossword-table .selected {
    font-weight: bold;
    color: #000000 !important;
    color: #000000 !important;
    background-color: rgba(8, 220, 172, 0.8) !important;
}
#crossword-table .correct {
    transition: background-color 1s, color 2s, opacity 2s;
    cursor: disabled;
    pointer-events: none;
    font-style: italic;
    opacity: 0.7;
    border: none;
}

.clue {
    height: 30px;
    text-align: center;
}
